.about-page-container {
    display: block;
    border: 1px solid black;
    height: 400px;
    width: 1200px;
    margin-left: 125px;
    margin-top: 10px;
    background-color: white;
    background-color: white;
    border-radius: 5px;
    border-color: white;
}

.about-page-block {
    display: flex;
}

