.story-create-button-the-acutal-button {
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
}

.story-icon {
  height: 1.3em;
  width: 1.3em;
  padding: 5px;
}

.story-img:hover {
  transform: scale(1.1);
}

.indi-text-story-home-page:hover {
  transform: scale(1.1);
}

@media (max-width: 1400px) {
  .story-create-button-the-acutal-button {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
  }
}

@media (max-width: 1000px) {
  .story-create-button-the-acutal-button {
    margin-left: 22%;
    margin-right: 22%;
    width: 50%;
  }
}

@media (max-width: 650px) {
  .story-create-button-the-acutal-button {
    margin-left: 18%;
    margin-right: 18%;
    width: 64%;
  }
}
