.stories-header-container {
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 4px 4px 0px lightgrey;
  margin-left: 10px;
  margin-right: 10px;
}

.stories-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgb(27, 116, 228);
  width: 90%;
  margin-left: 5%;
}

.story-icon {
  height: 1.3em;
  width: 1.3em;
  padding: 5px;
}


.story-img:hover {
  transform: scale(1.1);
}

.create-story-button:hover {
  transform: scale(1.1);
}

.indi-text-story-home-page:hover {
  transform: scale(1.1);
}
