.home-page-container {
  display: flex;
  height: 100vh;
  overflow: hidden; /* To ensure inner content doesn't overflow the container */
  position: relative; /* Relative to position the NavBar */
}

.column {
  width: 30%;
  height: 100%; /* Full height of the container */
  overflow-y: auto; /* Scroll when necessary */
  display: flex;
  justify-content: center;
}

.middle {
  margin-top: 50px;
  width: 39%; /* Adjusted considering three columns with some spacing */
  height: calc(100% - 50px); /* Deducting margin-top from height */
  overflow-y: auto; /* Scroll when necessary */
}

.stories-home-feed-loading {
  position: relative;
  height: 80vw;
  background-color: #fff;
  padding: 10px;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
  box-shadow: 0px 4px 4px 0px lightgrey;
}

@media (max-width: 800px) {
  .middle {
    width: 80%;
  }

  .column {
    width: 10%;
  }
}

@media (max-width: 700px) {
  .middle {
    width: 85%;
  }

  .column {
    width: 7.5%;
  }
}

@media (max-width: 625px) {
  .middle {
    width: 96%;
  }

  .column {
    width: 2%;
  }
}
