.home-page-container {
  display: flex;
}

.column {
  float: left;
  width: 32%;
}
.middle {
  margin-top: 65px;
  float: left;
  width: 36%;
  height: 100%;
  overflow: auto;
}

.columns:after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 1000px) {
  .middle {
    width: 50%;
  }

  .column {
    width: 25%;
  }
}

@media (max-width: 800px) {
  .middle {
    width: 50%;
  }

  .column {
    width: 25%;
  }
}

@media (max-width: 625px) {
  .middle {
    width: 96%;
  }

  .column {
    width: 2%;
  }
}
