.home-page-container {
  display: flex;
}

.column {
  float: left;
  width: 32.5%;
}
.middle {
  margin-top: 65px;
  float: left;
  width: 45%;
  height: 100%;
  overflow: auto;
}

.columns:after {
  content: "";
  display: table;
  clear: both;
}

.stories-home-feed-loading {
  position: relative;
  height: 80vw;
  background-color: #fff;
  padding: 10px;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
  box-shadow: 0px 6px 6px 0px lightgrey;
}

@media (max-width: 1400px) {
  .middle {
    width: 50%;
  }

  .column {
    width: 25%;
  }
}

@media (max-width: 1100px) {
  .middle {
    width: 55%;
  }

  .column {
    width: 22.5%;
  }
}

@media (max-width: 950px) {
  .middle {
    width: 65%;
  }

  .column {
    width: 17.5%;
  }
}
@media (max-width: 800px) {
  .middle {
    width: 80%;
  }

  .column {
    width: 10%;
  }
}

@media (max-width: 700px) {
  .middle {
    width: 85%;
  }

  .column {
    width: 7.5%;
  }
}

@media (max-width: 625px) {
  .middle {
    width: 96%;
  }

  .column {
    width: 2%;
  }
}
