.text-preview-container {
  height: 70%;
}

.text-actual-preview-container {
  background-color: #fff;
}

.edit-preview-container {
  background-color: #fff;
}

.arrow-button {
  background-color: transparent;
  height: 12px;
  width: 12px;
}

.arrow-button--t {
  border-left: 1px solid #d1d5db;
  border-top: 1px solid #d1d5db;
  transform: translateY(25%) rotate(45deg);
}

.arrow-button--r {
  border-right: 1px solid #d1d5db;
  border-top: 1px solid #d1d5db;
  transform: translateX(-25%) rotate(45deg);
}

.arrow-button--b {
  border-bottom: 1px solid #d1d5db;
  border-right: 1px solid #d1d5db;
  transform: translateY(-25%) rotate(45deg);
}

.arrow-button--l {
  border-bottom: 1px solid #d1d5db;
  border-left: 1px solid #d1d5db;
  transform: translateX(25%) rotate(45deg);
}
