.omega-create-post-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 10px;
  width: 450px;
  border-radius: 7px;
  border: 1.25px solid lightgrey;
  display: flex;
  flex-direction: column;
}

.input-file-post {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  cursor: pointer;
  display: flex;
  align-self: center;
  width: 95%;
  align-items: center;
  justify-content: space-around;
  height: 50px;
}

@media (max-width: 600px) {
  .omega-create-post-modal {
    height: 80vh;
    width: 100vw;
  }
}
