.omega-navbar {
  display: flex;
  justify-content: space-between;
  height: 50px;

  position: fixed;
  top: 0px;
  width: 100vw;
}

.facebook-picture {
  display: flex;
  cursor: pointer;
}

.personal-plugs {
  display: flex;
}

.profile-pic-modal {
  border-radius: 50%;
  cursor: pointer;
  height: 38px;
  width: 38px;
  margin-top: 5px;
}

.nav-middle-links {
}

.link-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.home-svg {
  margin-top: 5px;
  height: 35px;
  width: 35px;
  stroke-width: 1.25px;
  position: relative;
}

.home-link {
  top: 0;
  width: 10%;
  text-align: center;
  height: 100%;
}

.home-link:hover {
  background-color: lightgrey;
  text-align: center;
  fill: lightgrey;
}

.home-link:hover .home-svg {
  fill: lightgrey;
}

.github-svg {
  height: 35px;
  fill: white;
  border: 5px;
  width: 35px;
  stroke: rgba(44, 44, 44, 0.69);
  stroke-width: 0.9px;
}
.linkedin-picture {
  height: 35px;
  fill: white;
  border: 5px;
  width: 35px;
  stroke: rgba(44, 44, 44, 0.69);
  stroke-width: 0.9px;
}
.github-pic {
}

.linkedin {
}

.linkedin-picture {
}

.runaway {
}

.game-picture {
  height: 35px;
  fill: white;
  border: 5px;
  width: 35px;
  stroke: rgba(44, 44, 44, 0.69);
  stroke-width: 0.9px;
}

.search-bar {
  display: flex;
  width: 50%;
  border: none;
  font-size: 1em;
  background-color: rgb(231, 230, 230);
  border-radius: 25px;
  margin-left: 10px;
}

.search-input {
  background-color: rgb(231, 230, 230);
  width: 100%;
  margin-right: 5px;
  padding: 0.5em;
  border: none;
  font-size: 1em;
  outline: none;
}

.search-box {
  display: flex;
  align-items: center;
}

.material-icons {
  margin-left: 5px;
  margin-top: 3px;
  color: grey;
}

.navbar-container {
  top: 0;
  position: fixed;
  display: flex;
  height: 50px;
  background-color: white;
  width: 120%;
  box-shadow: 0px 12px 12px 0px darkgrey;
}

.left-container-navbar {
  float: left;
  display: flex;
  margin-top: 5px;
  width: 29vw;
}

.middle-column-navbar {
  float: left;
  display: flex;
  height: 50px;
  width: 40vw;
  justify-content: space-around;
}

.right-container-navbar {
  float: left;
  display: flex;
  width: 30vw;
  height: 50px;
  justify-content: flex-end;
}

.menu-svg {
  height: 20px;
  width: 20px;
  margin-top: 2.5px;
}

.menu-button-navbar {
  cursor: pointer;
  height: 38px;
  width: 38px;
  margin-top: 5px;
  margin-right: 10px;
  border: none;
  border-radius: 50%;
  background-color: #f0f2f5;
}

@media (max-width: 550px) {
  .left-container-navbar {
    width: 50vw;
  }

  .middle-column-navbar {
    width: 20vw;
  }

  .right-container-navbar {
    width: 25vw;
  }

  .link-wrapper {
    justify-content: flex-start;
  }
}
