.search-bar {
  height: 30px;
  padding: 5px;
}

.search-box {
  display: flex;
  align-items: center;
}

.search-bar-modal {
  display: flex;
}

.search-input-modal {
  background-color: rgb(231, 230, 230);
  margin: 5px;
  width: 70%;
  padding: 0.5em;
  border: none;
  font-size: 1em;
  border-radius: 15px;
  margin-right: 5px;
  height: 100%;
  font-family: Arial;
  outline: none;
}

.back-arrow-search-bar-modal {
  height: 35px;
  width: 35px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border: none;
  border-radius: 50%;
  background-color: white;
}

.back-arrow-search-bar-modal:hover {
  background-color: rgb(231, 230, 230);
}

.no-recent-searches {
  text-align: center;
  color: grey;
  margin: 0;

}

.search-results-container {
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 4px 4px 0px lightgrey;
}

.result-user-div {
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
}

.result-user-div:hover {
  background-color: rgb(231, 230, 230);
}

.result-user-profile-pic {
  height: 35px;
  border-radius: 50%;
  margin: 10px;
}

.create-div {
  margin: 2.5px;
  height: 1px;
}

.result-user-name {
  font-size: small;
}

.adjust-container {
  background-color: white;
  box-shadow: 0px 12px 12px 0px lightgrey;
  border-bottom-right-radius: 10px;
}

.search-for-typed-button {
  height: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border: none;
  background-color: white;
}

.search-for-typed-button:hover {
  background-color: rgb(231, 230, 230);
}

.search-for-typed-text {
  color: #1b74e4;
}

#searchFor {
  color: white;
  margin: auto;
  vertical-align: middle;
  margin-bottom: 4px;
}

.mi-icon-holder {
  height: 35px;
  line-height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #1b74e4;
  border: none;
  color: white;
  cursor: pointer;
  margin: 10px;
}

.back-arrow-svg {
  color: grey;
}
