.search-modal-container {
  top: 0;
  left: 0;
  width: 17%;
  position: absolute;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px lightgrey;
  z-index: 13;
  min-width: 180px;
}

.search-modal-wrapper {
  width: 15%;
}

@media (max-width: 550px) {
  .search-modal-container {
    width: 50vw;
  }
}
