.search-modal-container {
  top: 0;
  left: 0;
  width: 17%;
  position: absolute;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 12px 12px 0px lightgrey;
}

.search-modal-wrapper {
  width: 15%;
}

@media (max-width: 550px) {
  .search-modal-container {
    width: 50vw;
  }


}
