.omega-create-post-modal {
    width: 100vw; 
    height: 100vh; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    margin-left: 130px;
    margin-top: 100px;
}

.actual-create-post-form {
    position:absolute;
    top: 10vh;
    left: 27.5vw;
    background: white;
    padding: 10px;
    height: 350px;
    width: 350px;
    border-radius: 10px;  

}

.new-post-input {

}

.close-button {

}

.submit-post-button {
    
}

.modal-header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    
}

textarea {
    width: 300px;
    height: 150px;
    resize: none;
}