.profile-top-container {
  height: 75vh;
  margin-top: 55px;
  background-color: #fff;
}

.profile-page-header {
  height: 30%;
  display: flex;
  width: 75vw;
  justify-content: space-between;
  background-color: #fff;
  margin-left: 12.5vw;
  margin-right: 12.5vw;
}

.friends-toggle-button-container {
  margin-right: 5vw;
  margin-top: 5vh;
}

.right-side-of-page-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-friends-button {
  cursor: pointer;
  height: 40px;
  width: 150px;
  margin: auto;
}

.profile-selectors {
  height: 50px;
  width: 75vw;
  width: 100%;
  bottom: 0;
  border-top: 1px solid lightgrey;
}

.col-container-links {
  display: flex;
  background-color: #fff;
}

.page-link-col {
  width: 12.5vw;
  height: 100%;
}

.about-selector-button {
  border: none;
  height: 99%;
  border-radius: 2.5px;
  background-color: #fff;
  width: 7%;
}
.post-selector-button {
  border: none;
  height: 99%;
  background-color: #fff;
  border-radius: 2.5px;
  width: 7%;
}
.about-selector-button:hover {
  background-color: lightgrey;
}
.post-selector-button:hover {
  background-color: lightgrey;
}

.left-side-of-page-header {
  display: flex;
  justify-content: space-between;
  margin-top: -28px;
  margin-right: 37.5em;
}

.profile-picture-and-name-container {
  display: flex;
  align-items: center;
  top: -5vh;
  position: relative;
}

.profile-top-profile-pic {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  border: 3px white;
  object-fit: cover;
  cursor: pointer;
}

.background-photo-container-profile-page {
  height: 70%;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.background-photo-profile-page {
  width: 80%;
  height: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  object-fit: cover;
  background-color: gray;
  cursor: pointer;
}

@media (max-width: 550px) {
  .profile-selectors {
    align-items: stretch;
  }

  .background-photo-container-profile-page {
    width: 100%;
    height: 65%;
  }

  .background-photo-profile-page {
    width: 75%;
    height: 95%;
    object-fit: cover;
  }

  .profile-top-container {
    width: 100vw;
    height: 50vh;
  }

  /* . {
    height: 40%;
    width: 80%;
    margin: 0px;
    justify-content: center;
  } */

  .friends-toggle-button-container {
    margin: 0;
  }

  .profile-top-profile-pic {
    margin-left: 90px;
  }

  .profile-page-header {
    margin-bottom: 1vh;
    justify-content: center;
  }
  .toggle-friends-button {
    height: 25px;
    width: 100px;
  }
  .profile-selectors {
    height: 19%;
    width: 75%;
  }

  .post-selector-button {
    width: 15%;
    margin: 1%;
  }
  .about-selector-button {
    width: 15%;
    margin: 1%;
  }

  .profile-top-profile-pic {
    height: 75px;
    width: 75px;
    justify-content: center;
  }

  .left-side-of-page-header {
    width: 100%;
  }

  .right-side-of-page-header {
    display: none;
  }

  .name-friend-count-container {
    margin: 2px;
  }

  .toggle-friends-button {
  }

  .name-friend-count-container {
  }

  .profile-picture-and-name-container {
    display: block;
  }

  /* .profile-page-header {
    display: flex;
    width: 100%;
    width: 100vw;
    margin: 10px;
    justify-content: center;
    background-color: #fff;
  } */
}
