.profile-selectors {
  margin: 20px;
  padding: 20px;
}

.posts-selector-button {
  margin: 10px;
  padding: 10px;
  border: none;
  background-color: #f0f2f5;
}

.about-selector-button {
  margin: 10px;
  padding: 10px;
  border: none;
  background-color: #f0f2f5;
}

.about-page-button-style {
  padding: 5px;
  margin: 5px;
  height: 35px;
  width: 150px;
  align-self: flex-start;
  border-radius: 7px;
  resize: none;
  border: none;
}

.about-page-button-style:focus {
  outline: none;
}

.profile-top-container {
  height: 500px;
}
