.profile-top-container {
  height: 50vh;
  width: 100vw;
  margin-top: 45px;
  background-color: #fff;
}

.profile-page-header {
  height: 29%;
  display: flex;
  width: 80vw;
  justify-content: space-between;
  background-color: #fff;
  margin-left: 9vw;
  margin-right: 9vw;
  max-width: 1400px;
}

.post-selector-link {
  width: 100%;
  height: 100%;
  align-items: center;
  border-radius: 5px;
}

.friends-toggle-button-container {
  margin-right: 5vw;
  margin-top: 5vh;
}

.right-side-of-page-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-friends-button {
  cursor: pointer;
  height: 40px;
  width: 150px;
  margin: auto;
}

.profile-selectors {
  height: 60px;
  width: 100%;
  border-top: 1px solid lightgrey;
  justify-content: space-evenly;
  display: flex;
}

.col-container-links {
  display: flex;
  background-color: #fff;
  box-shadow: 0px 1px 1px 0px lightgrey;
}

.page-link-col {
  width: 12vw;
  height: 100%;
}

.about-selector-button {
  border: none;
  background-color: #fff;
  width: 100%;
  height: 100%;
}
.post-selector-button {
  border: none;
  background-color: #fff;
  width: 100%;
  height: 100%;
}
.about-selector-button:hover {
  background-color: lightgrey;
  color: #fff;
  font-size: 1rem;
  border-radius: 5px;
}
.post-selector-button:hover {
  background-color: lightgrey;
  color: #fff;
  font-size: 1rem;
  border-radius: 5px;
}

.left-side-of-page-header {
  display: flex;
  justify-content: space-between;
  margin-top: -28px;
  margin-right: 37.5em;
}

.profile-picture-and-name-container {
  display: flex;
}

.profile-top-profile-pic {
  height: 22.5vh;
  width: 22.5vh;
  border-radius: 50%;
  border: 3px white;
  /* object-fit: cover; */
  cursor: pointer;
  border: 5px solid #fff;
  transform: translateY(-100px);
}

.background-photo-container-profile-page {
  height: 70%;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.background-photo-profile-page {
  width: 85%;
  height: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  object-fit: cover;
  background-color: gray;
  cursor: pointer;
}

.edit-details-and-add-story-container {
  display: flex;
  width: 40%;
  justify-content: flex-end;
}

.edit-profile-add-story-buttons {
  width: 40%;
  height: 30%;
}

@media (max-width: 550px) {
  .profile-page-header {
    width: 100%;
    margin: 0;
  }
  .edit-details-and-add-story-container {
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
  }
  .edit-profile-add-story-buttons {
    width: 70%;
    height: 35%;
    margin: 0;
    padding: 1px;
  }
}
