.friends-profile-page-page-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.friends-tab-content-container {
  width: 100vw;
  max-width: 1250px;
}

@media (max-width: 600px) {
  .friends-profile-page-page-container {
    margin-top: 0px;
  }
}
