.about-content-container {
  height: 400px;
  margin-top: 15px;
}

.about-page-links {
  width: 30%;
}

.about-page-links-results {
  width: 50%;
}

@media (max-width: 600px) {
  .about-content-container {
    width: 100vw;
    margin: 0px;
  }
  .about-page-links {
    min-width: 100px;
  }

  .about-page-links-results {
    width: 73%;
  }
}
