.edit-button {
  background: #3b5998;
  color: white;
  padding: 2px 18px 3px 18px;
  border-top: 1px white solid;
  border-left: 1px white solid;
  border-right: 1px #000033 solid;
  border-bottom: 1px #000033 solid;
}
