.container {
  display: flex;
  padding-bottom: 100px;
  min-height: 95vh;
  justify-content: center;
  flex-direction: row;
}

body {
  background-color: #f0f2f5;
}

.login {
  position: relative;
  background-color: #ffffff;
  height: 400px;
  width: 425px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  top: 18vh;
  justify-content: center;
  padding: 10px 10px 20px 10px;
  box-shadow: 0 5px 5px 3px gainsboro;
  align-items: center;
}

.credential,
.password {
  height: 3vw;
  margin: 8px 0;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 16px;
  width: 95%;
  border: 1.5px solid #eeeff0;
}

.login,
.password {
  margin-bottom: 15px;
}

.credential:focus,
.password:focus {
  outline: none;
  border: 1px solid blue;
  box-shadow: 0 0 5px #719ece;
  caret-color: blue;
}

.login-button {
  background-color: #1877f2;
  color: #ffffff;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  height: 40px;
  font-weight: bold;
  width: 100%;
}

.login-button:hover {
  background-color: #166fe5;
  cursor: pointer;
}

.create-new-account {
  background-color: #43a72f;
  color: #ffffff;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  width: 280px;
  height: 40px;
}

.form > #hr {
  width: 95%;
  background-color: rgb(194, 193, 193);
  height: 0.1%;
  border: none;
}

.forgot-pw {
  margin: 18px 0;
  text-decoration: none;
  font-size: 15px;
  color: #1877f2;
  position: inherit;
  display: flex;
  justify-content: center;
}

.forgot-pw:hover {
  text-decoration: underline;
  cursor: pointer;
}

.title {
  color: #1877f2;
  text-align: center;
}

.error-message {
  color: red;
}

.credential.active {
  border: 1px solid red;
}

.password.active {
  border: 1px solid red;
}

.create-account-container {
  background-color: white;
  padding: 10px;

}